
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
html {
    background: url("/img/bg.gif") repeat scroll 0 0 #ffffff;
    color: #333333;
    font-family: MSYH,Verdana;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 200%;
}
body {
    background: none repeat scroll 0 0 #dedede;
    color: #333333;
    font-family: MSYH,Verdana;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 200%;
    min-width: 947px;
}
table, div {
    margin: 0 auto;
}
td {
    font-family: msyh,Verdana;
    font-size: 12px;
    line-height: 22px;
}
fieldset, img {
    border: 0 none;
}
h1, h3, h4, h5, h6 {
    font-size: 12px;
    font-weight: normal;
}
ul, ol {
    list-style: none outside none;
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: bold;
}
p:after, p:before {
    content: "";
}
p {
    line-height: 18px;
}
abbr, acronym {
    border: 0 none;
}
.none {
    display: none;
}
.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
A:link {
    color: #333333;
    font-family: MSYH,Verdana;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
}
A:visited {
    color: #333333;
    font-family: MSYH,Verdana;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
}
A:hover {
    color: #c7000c;
    font-family: MSYH,Verdana;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
}
A:active {
    color: #1867a0;
    font-family: MSYH,Verdana;
    font-size: 12px;
    text-align: left;
}
A.titlefont:link {
    color: #7286a3;
    font-family: MSYH,Verdana;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
A.titlefont:visited {
    color: #7286a3;
    font-family: MSYH,Verdana;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
A.titlefont:hover {
    color: #ff9900;
    font-family: MSYH,Verdana;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}
A.titlefont:active {
    color: #7286a3;
    font-family: MSYH,Verdana;
    font-size: 12px;
    font-weight: bold;
}
A.titlefont1:link {
    color: #7286a3;
    font-family: MSYH,Verdana;
    font-size: 12px;
    text-decoration: none;
}
A.titlefont1:visited {
    color: #7286a3;
    font-family: MSYH,Verdana;
    font-size: 12px;
    text-decoration: none;
}
A.titlefont1:hover {
    color: #ff9900;
    font-family: MSYH,Verdana;
    font-size: 12px;
    text-decoration: underline;
}
A.titlefont1:active {
    color: #7286a3;
    font-family: MSYH,Verdana;
    font-size: 12px;
}
A.se-menu:link {
    color: #3a739a;
    font-family: MSYH,Verdana;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
A.se-menu:visited {
    color: #3a739a;
    font-family: MSYH,Verdana;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
A.se-menu:hover {
    color: #3a739a;
    font-family: MSYH,Verdana;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
A.se-menu:active {
    color: #3a739a;
    font-family: MSYH,Verdana;
    font-size: 14px;
    font-weight: bold;
}
A.menulink:visited {
    color: #ffffff;
    text-decoration: none;
}
A.menulink:hover {
    text-decoration: underline;
}
.margin {
    padding: 4px;
}
.table, .header, .footer_table {
    margin: 0 auto;
    width: 947px;
}
.table1 {
    background-color: #ffffff;
    border: 1px solid #94b2be;
    width: 100%;
}
.table2 {
    background-color: #ffffff;
    border: 1px solid #f4f4f4;
    width: 100%;
}
.table3 {
    background-color: #f4f4f4;
    width: 100%;
}
.table4 {
    width: 100%;
}
.table5 {
    width: 98%;
}
.table6 {
    background-color: #ffffff;
    border: 1px solid #f4f4f4;
    width: 96%;
}
.table7 {
    background-color: #ffffff;
    border: 1px solid #94b2be;
}
.table8 {
    background-color: #ffffff;
}
.table9 {
    border: 2px double #f5fafe;
}
.table_style td, .table_style01 td, .table_style02 td {
    padding: 2px;
}
.table_style01 td {
    border: medium none;
}
.table_style02 td {
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}
.table_style02 {
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}
.border_color td, .border_color02 {
    border-bottom: 1px solid #c5e5fe;
    padding: 2px 0;
}
.border_color01, .border_color td.border_color01 {
    border-bottom: 1px solid #c5e5fe;
    padding-bottom: 4px;
}
.navi {
    background-image: url("/img/navi.jpg");
    padding: 0 5px;
}
.navibar, .navi1, .navi2 {
    color: #333333;
    font-family: MSYH,Verdana;
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
}
.navibar {
    background-color: #e7f2f8;
    border-bottom: 1px solid #94b2be;
    height: 25px;
    text-align: left;
}
.navi1 {
    border-bottom: 1px solid #94b2be;
    color: #333333;
    height: 25px;
}
.navi2 {
    background-color: #e7f2f8;
    border-bottom: 1px solid #94b2be;
    color: #333333;
    height: 25px;
}
.navigation {
    background-color: #dfe9f3;
    height: 22px;
    padding: 3px 11px 0;
    text-align: left;
}
.font {
    color: #333333;
    font-family: MSYH,Verdana;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 150%;
    padding: 5px;
    text-align: left;
}
.font2 {
    color: #ffffff;
    font-family: MSYH,Verdana;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 150%;
    padding: 5px;
    text-align: left;
}
.banner {
    background-color: #1867a0;
}
.trtd {
    background-color: #ffffff;
}
.input {
    background-color: #ffffff;
    border: 1px solid #f4f4f4;
    color: #333333;
    font-size: 9pt;
}
.content, .content a {
    font-family: MSYH,Verdana;
    font-size: 14px;
    line-height: 180%;
}
.radio {
    background-color: #ffffff;
    border-color: -moz-use-text-color;
    border-right: 1px none;
    border-style: none;
    border-width: 1px;
    color: #333333;
    font-size: 9pt;
}
.code {
    background: none repeat scroll 0 0 #f6f6f6;
    border: 1px solid #aaa;
    color: #000000;
    font-family: MSYH,Verdana;
    font-size: 12px;
    padding: 10px;
}
.td1 {
    font-family: MSYH,Verdana;
    font-size: 12px;
}
.td2 {
    font-family: MSYH,Verdana;
    font-size: 12px;
}
.content {
    font-family: MSYH,Verdana;
    font-size: 14px;
    line-height: 150%;
}
.summary {
    font-family: MSYH,Verdana;
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
}
input, select {
    background-color: #ffffff;
    border: 1px solid #dfe9f3;
    color: #333333;
    font-size: 9pt;
}
input.button {
    background-color: #f6faff;
    background-image: url("/images/button.gif");
    border: 1px solid #aec3de;
    color: #607491;
    cursor: pointer;
    font-family: MSYH,Verdana,Tahoma,Arial;
    font-size: 12px;
    height: 21px;
    line-height: 21px;
    padding: 0 5px;
}
textarea {
    background: url("/img/text_bg.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    height: 154px;
    padding: 5px;
    width: 655px;
}
.input_bg {
    background: url("/img/c.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.input_style {
    border: medium none;
    height: 13px;
    line-height: 13px;
    margin-right: 10px;
    width: 195px;
}
.input_style01 {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6dbff7;
    height: 15px;
    padding: 1px;
    position: relative;
    top: 0;
    width: 141px;
}
.button_style {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    height: auto;
    padding: 0;
    width: auto;
}
.input_bg02 {
    background: url("/img/pin_r2_c2.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: 17px;
    line-height: 17px;
}
.textare_style {
    background: url("/img/s_r4_c2.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: 62px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 374px;
}
.button_style01, .button_style02 {
    border: medium none;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 63px;
}
.button_style01 {
    background: url("/img/qd.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ff842e;
}
.button_style02 {
    background: url("/img/qx.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #2783c4;
}
.fab {
    background: none repeat scroll 0 0 #f8f9ff;
    border: 1px solid #c4c9fd;
    color: #6c63a3;
    font-size: 12px;
    height: 16px;
    padding: 2px;
    width: 200px;
}
.fabt {
    background: none repeat scroll 0 0 #fffbca;
    border: 1px solid #f7ca06;
    color: #cb6a24;
    font-size: 12px;
    height: 16px;
    padding: 2px;
    width: 200px;
}
.fabtt {
    background: none repeat scroll 0 0 #f8f9ff;
    border: 1px solid #c4c9fd;
    color: #6c63a3;
    font-size: 12px;
    height: 16px;
    padding: 2px;
    width: 200px;
}
.fab01 {
    background: none repeat scroll 0 0 #f8f9ff;
    border: 1px solid #c4c9fd;
    color: #6c63a3;
    font-size: 12px;
    height: 106px;
    padding: 2px;
    width: 558px;
}
.fabt01 {
    background: none repeat scroll 0 0 #fffbca;
    border: 1px solid #f7ca06;
    color: #cb6a24;
    font-size: 12px;
    height: 106px;
    padding: 2px;
    width: 558px;
}
.fabtt01 {
    background: none repeat scroll 0 0 #f8f9ff;
    border: 1px solid #c4c9fd;
    color: #6c63a3;
    font-size: 12px;
    height: 106px;
    padding: 2px;
    width: 558px;
}
h1, h1 a {
    float: left;
    height: 92px;
    overflow: hidden;
    width: 466px;
}
h1 {
    margin: 0;
}
.wrapper {
    background: url("/img/too.jpg") repeat-x scroll left top rgba(0, 0, 0, 0);
    height: 130px;
}
.header {
    color: #333333;
    font-family: Tahoma,MSYH,Verdana;
    font-size: 12px;
    font-weight: normal;
    height: 92px;
    line-height: 0;
    overflow: hidden;
}
.ch_en {
    float: right;
    height: 23px;
    line-height: 23px;
    width: 524px;
}
.ch_en a:link, .ch_en a:visited, .ch_en a:hover, .ch_en a:active {
    color: #000;
    padding: 0 8px;
}
.user_style {
    clear: both;
    overflow: hidden;
    padding: 19px 0 0;
}
.user_style span.bg {
    background: url("/img/bg_r4_c20.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
    line-height: 19px;
    padding-left: 18px;
    vertical-align: middle;
}
.menu01 {
    float: left;
    width: 947px;
}
.search {
    border: 0 none;
    color: #7286a3;
    float: right;
    font-family: Verdana;
    font-size: 12px;
    height: 16px;
    width: 207px;
}
.footer {
    background: none repeat scroll 0 0 #626262;
    border-bottom: 1px solid #dfdfdf;
    color: #888888;
    height: 39px;
    line-height: 39px;
    width: 100%;
}
.footer_table {
    border-top: 1px solid #e6e6e6;
}
.footermenu {
    float: left;
    height: 40px;
    line-height: 40px;
}
.footermenu a:link, .footermenu a:visited, .footermenu a:hover, .footermenu a:active {
    background: url("/img/nav_bg.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #888888;
    padding: 0 3px;
}
.footermenu a.bg_none {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.footermenu span {
    color: #cacaca;
    margin-left: 3px;
}
.footermenu span a:link, .footermenu span a:visited, .footermenu span a:hover, .footermenu span a:active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #cacaca;
    padding: 0 1px;
}
.footer_logo {
    float: right;
    margin: 10px 0 0;
}
.botton_green {
    background: url("/img/botton_green.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #000;
    cursor: pointer;
    display: block;
    float: left;
    height: 23px;
    line-height: 23px;
    margin-left: 8px;
    text-align: center;
    width: 72px;
}
.menu {
    clear: both;
    height: 38px;
    line-height: 38px;
    width: 947px;
}
.mainmenu {
    background: url("/img/nav_bg.jpg") no-repeat scroll left -33px rgba(0, 0, 0, 0);
    height: 65px;
    text-align: left;
}
.menu1 {
    background: url("/img/a2.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
    float: left;
    margin: 0;
    position: relative;
    width: auto;
    z-index: 100;
}
.first, .firstclick, .click {
}
.menu1 a:link, .menu1 a:visited, .menu1 a:hover, .menu1 a:active {
    color: #ffffff;
    display: block;
    float: left;
    font: bold 14px/34px arial,verdana;
    height: 38px;
    text-align: center;
    text-decoration: none;
    width: 119px;
    z-index: 100;
}
.menu1 a:hover, .menu1 a:active {
    background: none repeat scroll 0 0 #008cd7;
    color: #fff;
    font: bold 14px/34px arial,verdana;
}
.click a:link, .click a:visited, .click a:hover, .click a:active {
    color: #fff;
    font: bold 14px/34px arial,verdana;
}
.first a:link, .first a:visited, .first a:hover, .first a:active {
    width: 118px;
}
.first a:hover, .first a:active {
    background: none repeat scroll 0 0 #008cd7;
    color: #fff;
}
.firstclick a:link, .firstclick a:visited, .firstclick a:hover, .firstclick a:active {
    background: none repeat scroll 0 0 #008cd7;
    color: #fff;
    font: bold 14px/34px arial,verdana;
}
.menu1:hover ul {
    display: block;
    position: absolute;
    visibility: visible;
}
.menu1 ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #f8f8f8;
    border-color: #d7d7d9;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
    display: inline;
    height: auto;
    left: 0;
    margin: 0;
    padding: 0 6px 2px;
    position: absolute;
    top: 38px;
    visibility: hidden;
    width: 107px;
    z-index: 100;
}
.menu1 ul li {
    display: inline;
    font-size: 12px;
    height: 24px;
    list-style: none outside none;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 210px;
    z-index: 100;
}
.menu1 ul li a:link, .menu1 ul li a:visited, .menu1 ul li a:hover, .menu1 ul li a:active, .secondclick ul li a:link, .secondclick ul li a:visited, .secondclick ul li a:hover, .secondclick ul li a:active, .click ul li a:link, .click ul li a:visited, .click ul li a:hover, .click ul li a:active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-weight: normal;
    height: 25px;
    line-height: 25px;
}
.second ul, .second ul li, .secondclick ul, .secondclick ul li {
    width: 107px;
}
.menu1 ul li a:link, .menu1 ul li a:visited, .menu1 ul li a:hover, .menu1 ul li a:active {
    background: none repeat scroll 0 0 #f8f8f8;
    border-bottom: 1px solid #ebebeb;
    color: #82868f;
    display: block;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin: 0;
    text-align: left;
    text-indent: 20px;
    width: 100%;
    z-index: 100;
}
.menu1 ul li a:hover {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #eaeaea;
    color: #0162b3;
}
.area, .area1, .area2 {
    background: url("/img/di_bj.jpg") repeat-x scroll left bottom #fff;
    clear: both;
    margin: 12px auto;
    overflow: hidden;
}
.left_cn, .right_cn {
    display: inline;
    overflow: hidden;
}
.left_cn {
    float: left;
    width: 698px;
}
.right_cn {
    float: right;
    width: 230px;
}
.box_cn .title001 {
    background: url("/img/title.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    padding: 0 13px 0 16px;
}
.box_cn .title001 a.more, .title002 a.more {
    float: right;
    margin-top: 13px;
    width: 40px;
}
.box_cn .content_cn {
    background: url("/img/bottom_1.gif") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    overflow: hidden;
}
.box_cn .inner {
    padding: 15px;
}
.link_news .content_cn {
    background: url("/img/i_r1_c5.jpg") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    height: 198px;
}
.link_news .inner {
    padding: 10px 15px;
}
.link_news ul li {
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}
.link_news .img_marb {
    margin-right: 6px;
}
.link_news .img_marb01 {
    margin-top: 8px;
}
.news_left, .news_right {
    float: left;
    overflow: hidden;
    width: 344px;
}
.news_right {
    float: right;
}
.area1 .left_cn .box_cn .title001 {
    background: url("/img/title01.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #5f626b;
    font-weight: bold;
    position: relative;
}
.box_cn .TabTitle {
    font-weight: normal;
}
.TabTitle dl {
    bottom: 0;
    float: left;
    left: 63px;
    position: absolute;
}
.TabTitle dl dd {
    color: #924e29;
    cursor: pointer;
    display: block;
    float: left;
    text-align: center;
}
.TabTitle dd.normal {
    background: url("/img/a_bg.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 23px;
    line-height: 23px;
    margin-left: 2px;
    width: 70px;
}
.TabTitle dd.active {
    background: url("/img/a_bg02.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    margin: 0 0 0 2px;
    width: 70px;
}
.news .content_cn {
    height: 258px;
}
.news .inner {
    padding: 12px 15px;
}
.inster, .news_list, .whois, .pic_style, .frendly {
    margin-top: 11px;
}
.inster .content_cn {
    height: 368px;
}
.inster .inner {
    padding: 10px 15px;
}
.fb_color {
    background: url("/img/li.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #2c83c6;
    padding-left: 9px;
}
.peo_box {
    line-height: 17px;
}
.peo_box a {
    background: url("/img/nav_bg.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding: 0 8px;
}
.peo_box a.bg_none {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.show .content_cn {
    background: url("/img/bg04.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 498px;
    position: relative;
}
.show .inner {
    padding: 0;
}
.show h2 {
    font-weight: bold;
    padding-left: 30px;
}
.show .a_bg {
    margin-top: 3px;
}
.show .a_bg a {
    background: url("/img/li2.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding: 0 8px;
}
.show .a_bg .fb_color {
    background: url("/img/li1.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: red;
    padding: 0 8px 0 0;
}
.show .por_box {
    left: 102px;
    position: absolute;
    top: 17px;
    width: 221px;
}
.show .por_box1 {
    left: 102px;
    position: absolute;
    top: 260px;
    width: 221px;
}
.news_list .content_cn {
    height: 128px;
}
.news_list .inner {
    padding: 5px 15px;
}
.area1 .right_cn .title001 {
    background: url("/img/title02.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #5f626b;
}
.area1 .right_cn .content_cn {
    background: url("/img/bottom_3.gif") no-repeat scroll left bottom rgba(0, 0, 0, 0);
}
.quikly .content_cn {
    height: 235px;
}
.quikly .inner {
    padding: 0;
}
.quikly .inner img {
    margin: 15px 0 0 11px;
}
.softoware {
    background: url("/img/bg03.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 75px;
    margin: 15px 0 0 11px;
}
.softoware li {
    height: 24px;
    line-height: 24px;
    padding-left: 27px;
}
.softoware li.title_soft {
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    padding-left: 13px;
}
.whois .content_cn {
    height: 223px;
}
.whois .inner {
    padding: 5px 15px;
}
.frendly .content_cn {
    height: 58px;
}
.area2 {
    margin: 0 auto;
}
.area2 .left_cn {
    width: 217px;
}
.area2 .right_cn {
    width: 669px;
}
.banner_bg {
    height: 186px;
    margin-bottom: 17px;
    width: 669px;
}
.bg001 {
    overflow: hidden;
    padding: 0;
}
.bg02 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: -moz-use-text-color #dcdcdc;
    border-image: none;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-style: none solid;
    border-width: medium 1px;
    height: 95%;
    overflow: hidden;
    padding: 15px 22px 0 15px;
}
.area2 .left_cn h2 {
    background: url("/img/2_r1_c1.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    padding: 0 0 0 16px;
}
.menu_left {
    background: url("/img/fg_tan.jpg") no-repeat scroll left bottom #ededef;
    border: medium none;
    overflow: hidden;
    padding-bottom: 10px;
}
.navtion {
    border-bottom: 1px solid #f6f6f6;
    line-height: 26px;
}
.channal_style {
    background: url("/img/f_bg.jpg") repeat-x scroll left bottom rgba(0, 0, 0, 0);
    overflow: hidden;
}
.channal_style .channal_color {
    color: #005dad;
    float: left;
    font-family: "宋体";
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    text-indent: 15px;
}
.channal_style .channal_color01 {
    color: #8a8a8a;
    float: left;
    height: 40px;
    line-height: 40px;
}
.navtion {
    border: 1px solid #dcdcdc;
    line-height: 31px;
    padding-left: 12px;
}
.channal_style {
    background: url("/img/c_name.jpg") no-repeat scroll left bottom transparent;
    clear: both;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
.channal_style .channal_nav {
    float: right;
    height: 40px;
    line-height: 40px;
}
.channal_style .channal_nav a img {
    vertical-align: middle;
}
.content_style {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #dcdcdc #dcdcdc -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    min-height: 300px;
    padding: 10px 12px 50px 20px;
    text-align: left;
}
.page_list {
    border-top: 1px solid #ccc;
    margin: 8px auto;
    padding: 8px 0;
}
.content_style p.news_title01 {
    color: #a67b51;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.content_style p {
    line-height: 22px;
    margin-bottom: 8px;
    text-indent: 2em;
}
.content_style h2, .content_style h3 {
    color: #61616b;
    font-weight: bold;
}
.content_style h2 {
    font-size: 14px;
}
.fb_bg {
    background: none repeat scroll 0 0 #f4f4f4;
    padding: 3px 10px 5px;
    text-align: right;
}
.kehu, .title {
    margin: 0 0 0 20px;
}
.kehu li {
    background: url("/images/title/13.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
    list-style-type: none;
    padding-left: 15px;
    text-align: left;
    text-indent: 5px;
}
.ul_bg li {
    background: url("/img/job3.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
    padding-left: 10px;
}
.title li {
    background: url("/img/dot002.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
    padding-left: 20px;
}
.content_style .border_none img {
    border: medium none;
    padding: 0;
}
.content_style .bg_none li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0;
}
.img_border img {
    border: 1px solid #ccc;
}
h2.title {
    clear: both;
    color: #333333;
    float: left;
    font-family: MSYH,Verdana;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0 0 2px;
    width: auto;
}
h2.title1 {
    color: #333333;
    float: left;
    font-family: MSYH,Verdana;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0 0 2px;
    width: auto;
}
h3.title1 {
    color: #333333;
    float: right;
    font-family: MSYH,Verdana;
    font-size: 12px;
    font-weight: normal;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0 0 2px;
    width: auto;
}
h4.title1 {
    color: #333333;
    float: right;
    font-family: MSYH,Verdana;
    font-size: 12px;
    font-weight: normal;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0 0 2px;
    width: auto;
}
.font001 {
    color: #4d7cc1;
}
.channelname h1 {
    color: #027880;
    font-family: 藥胎,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 0 2px;
}
.channelname h2 {
    color: #027880;
    font-family: MSYH,Verdana;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 0 2px;
}
dt span.author {
    border-bottom: 1px solid #1867a0;
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    height: 18px;
    line-height: 18px;
    margin: 0;
    padding: 0 0 1px;
}
dt.summary {
    background-color: #ffffff;
    margin-top: -4px !important;
}
dt.bottom {
    color: #1867a0;
    height: 25px;
    padding-top: 5px;
    text-align: left;
}
.author {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    height: 18px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.listbottom {
    color: #999999;
    text-align: left;
}
A.newstitle:link {
    color: #1867a0;
    font-family: MSYH,Verdana;
    font-size: 12px;
    text-decoration: underline;
}
A.newstitle:visited {
    color: #1867a0;
    font-family: MSYH,Verdana;
    font-size: 12px;
    text-decoration: none;
}
A.newstitle:hover {
    color: #333333;
    font-family: MSYH,Verdana;
    font-size: 12px;
    text-decoration: underline;
}
A.newstitle:active {
    color: #1867a0;
    font-family: MSYH,Verdana;
    font-size: 12px;
}
ul {
    padding: 0;
    text-align: left;
}
ul.text {
    padding: 0;
    text-align: left;
}
ul.news {
    float: left;
    margin: 0 !important;
    padding: 0;
    text-align: left;
}
li {
    list-style-type: none;
    margin-left: 0 !important;
}
li.anli {
    float: left;
    height: 25px;
    list-style-image: url("/img/dot002.gif");
    margin-right: 12px;
}
ul li.news {
    height: 25px;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0 !important;
}
ul li.news1 {
    height: 25px;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0 !important;
}
ul li.news2 {
    height: 25px;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0 !important;
    margin-top: -4px;
}
ul li.time {
    font-family: 藥胎,Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0 !important;
}
ul li.left001 {
    height: 25px;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0 !important;
}
ul li.left002 {
    list-style-image: none;
    list-style-type: none;
    margin-left: 24px !important;
}
.content_style A:link {
    color: #686868;
    font-family: MSYH,Verdana;
    font-size: 12px;
    text-decoration: none;
}
.content_style A:visited {
    color: #686868;
    font-family: MSYH,Verdana;
    font-size: 12px;
    text-decoration: none;
}
.content_style A:hover {
    color: #4d7cc1;
    font-family: MSYH,Verdana;
    font-size: 12px;
    text-decoration: none;
}
.content_style A:active {
    color: #686868;
    font-family: MSYH,Verdana;
    font-size: 12px;
    text-decoration: none;
}
.content1_text A:link {
    color: #0073bd;
    font-family: MSYH,Verdana;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-decoration: underline;
}
.content1_text A:visited {
    color: #0073bd;
    font-family: MSYH,Verdana;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
}
.content1_text A:hover {
    color: #2e951a;
    font-family: MSYH,Verdana;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
}
.content1_text A:active {
    color: #0073bd;
    font-family: MSYH,Verdana;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #b2b2b2 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: medium none;
    border-style: dashed none none;
    border-width: 1px medium medium;
    clear: both;
    height: 1px;
    line-height: 1px;
    margin-bottom: 5px !important;
    margin-top: 0 !important;
    vertical-align: top;
}
A.bigtitle:link {
    color: #1867a0;
    font-family: MSYH,Verdana;
    font-size: 14px;
    text-decoration: underline;
}
A.bigtitle:visited {
    color: #1867a0;
    font-family: MSYH,Verdana;
    font-size: 14px;
    text-decoration: none;
}
A.bigtitle:hover {
    color: #333333;
    font-family: MSYH,Verdana;
    font-size: 14px;
    text-decoration: underline;
}
A.bigtitle:active {
    color: #1867a0;
    font-family: MSYH,Verdana;
    font-size: 14px;
}
A.h3title:link {
    color: #2e951a;
    font-family: MSYH,Verdana;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}
A.h3title:visited {
    color: #2e951a;
    font-family: MSYH,Verdana;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
A.h3title:hover {
    color: #4d7cc1;
    font-family: MSYH,Verdana;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}
A.h3title:active {
    color: #2e951a;
    font-family: MSYH,Verdana;
    font-size: 12px;
    font-weight: bold;
}
A.highlight:link {
    color: #666666;
    font-family: MSYH,Verdana;
    font-size: 14px;
    height: 23px;
    line-height: 23px;
    text-decoration: none;
}
A.highlight:visited {
    color: #666666;
    font-family: MSYH,Verdana;
    font-size: 14px;
    height: 23px;
    line-height: 23px;
    text-decoration: none;
}
A.highlight:hover {
    color: #666666;
    font-family: MSYH,Verdana;
    font-size: 14px;
    height: 23px;
    line-height: 23px;
    text-decoration: none;
}
A.highlight:active {
    color: #666666;
    font-family: MSYH,Verdana;
    font-size: 14px;
    height: 23px;
    line-height: 23px;
}
.curren A:link {
    color: #0073bd;
    font-family: MSYH,Verdana;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    text-decoration: underline;
}
.curren A:visited {
    color: #0073bd;
    font-family: MSYH,Verdana;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    text-decoration: none;
}
.curren A:hover {
    color: #2e951a;
    font-family: MSYH,Verdana;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    text-decoration: underline;
}
.curren A:active {
    color: #0073bd;
    font-family: MSYH,Verdana;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
}
.leftbit2 A:link {
    color: #111111;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 23px;
    text-decoration: none;
}
.leftbit2 A:visited {
    color: #111111;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 23px;
    text-decoration: none;
}
.leftbit2 A:hover {
    color: #0073bd;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 23px;
    text-decoration: none;
}
.leftbit2 A:active {
    color: #111111;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 23px;
}
.leftbit3 A:link {
    color: #777777;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 23px;
    text-decoration: none;
}
.leftbit3 A:visited {
    color: #777777;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 23px;
    text-decoration: none;
}
.leftbit3 A:hover {
    color: #0073bd;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 23px;
    text-decoration: none;
}
.leftbit3 A:active {
    color: #777777;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 23px;
}
.leftbit4 A:link {
    color: #bbbbbb;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 23px;
    text-decoration: none;
}
.leftbit4 A:visited {
    color: #bbbbbb;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 23px;
    text-decoration: none;
}
.leftbit4 A:hover {
    color: #0073bd;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 23px;
    text-decoration: none;
}
.leftbit4 A:active {
    color: #bbbbbb;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 23px;
}
.left_bg {
    background: url("/img/dian_tu.jpg") no-repeat scroll 10% 16px transparent;
}
.left_bg01 {
    background: url("/img/dian_tu.jpg") no-repeat scroll 10% 16px transparent;
}
.left_bg a, .left_bg01 a {
    padding-left: 30px;
}
.left_bg a:link, .left_bg a:visited, .left_bg a:hover, .left_bg a:active {
    background: url("/img/fsdg.jpg") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    border-top: medium none;
    color: #3d6acb;
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    text-indent: 0;
}
.left_bg01 a:link, .left_bg01 a:visited, .left_bg01 a:hover, .left_bg01 a:active, .left_bg01 a {
    background: url("/img/fsdg.jpg") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    border-top: medium none;
    color: #5b5d5e;
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    text-indent: 0;
}
.left_bg01 a:hover {
    background: url("/img/fsdg.jpg") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    border-top: medium none;
    color: #3d6acb;
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    text-indent: 0;
}
.menu_3 {
    background: none repeat scroll 0 0 #ffffff;
}
.menu_3 a:link, .menu_3 a:visited, .menu_3 a:hover, .menu_3 a:active {
    border: 0 none;
    display: block;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
}
.channel_name {
    height: 30px;
    margin: 0;
    padding: 8px 0 0;
    width: 100%;
}
.channel_name span {
    display: inline;
    font-size: 14px;
    font-weight: bold;
    margin-left: 36px;
    text-align: left;
    width: auto;
}
.leftmenu {
    background: none repeat scroll 0 0 #ffffff;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.leftmenu {
    background: none repeat scroll 0 0 #ffffff;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.leftmenu a:hover, .leftmenu a:active {
    background-color: #ededed;
}
.leftlayer2 a:link, .leftlayer2 a:visited, .leftlayer2 a:hover, .leftlayer2 a:active {
    background: url("/img/menu_3.jpg") no-repeat scroll 12% 50% #ffffff;
    padding-left: 20px;
}
.leftlayer3 a:link, .leftlayer3 a:visited, .leftlayer3 a:hover, .leftlayer3 a:active {
    background: url("/img/menu_3.jpg") no-repeat scroll 22% 50% #ffffff;
    padding-left: 36px;
}
.leftlayer4 a {
    text-indent: 48px;
}
.leftlayer5 a {
    text-indent: 60px;
}
.title002 {
    background: url("/img/title05.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #60626e;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    padding: 0 13px 0 16px;
    position: relative;
}
.content_bg {
    background: url("/img/footer05.gif") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    height: 100%;
    overflow: hidden;
    padding-bottom: 6px;
}
.content_bg01 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e6e6e6;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
}
.news_list01 {
    clear: both;
    overflow: hidden;
}
.news_list01 li {
    background: none repeat scroll 0 0 #f2f2f2;
    color: #a8a8a8;
    float: left;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
}
.news_list01 li.news_title {
    width: 515px;
}
.news_list01 li.news_time {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    width: 97px;
}
.news_list01 li.news_reading {
    width: 89px;
}
.padd {
    padding: 3px;
}
.user_re {
    background: url("/img/ur.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 91px;
    padding-left: 16px;
}
.user_re li {
    color: #3ea0e1;
    font-size: 12px;
    line-height: 30px;
}
.user_re li.font_color {
    color: #ffffff;
    font-weight: bold;
}
.user_news {
    background: url("/img/din01.gif") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    padding-bottom: 6px;
}
.user_bg01 {
    background: url("/img/bg01.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    padding: 10px;
}
.user_bg {
    background: url("/img/z_r8_c6.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #177cc0;
    padding: 5px 19px;
}
.user_bg td {
    border: medium none;
    padding: 3px;
}
.user_bg .button, .user_bg .button01 {
    border: medium none;
    height: 28px;
    line-height: 28px;
}
.user_bg .button {
    background: url("/img/se.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ff832d;
    width: 181px;
}
.user_bg .button01 {
    background: url("/img/zhi.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #2784c4;
    width: 110px;
}
.bg01 {
    background: url("/img/din.gif") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    padding: 10px;
}
.style001 {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 645px;
}
.font_color01 {
    font-size: 14px;
    font-weight: bold;
}
.font_style01 {
    color: #8a8a8a;
    padding: 10px 0;
}
.font_style {
    color: #8a8a8a;
    padding: 10px 0 0;
}
.font_style img {
    vertical-align: middle;
}
.logo_style {
    background: url("/img/lign.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 179px;
    margin: 50px auto 80px;
    width: 377px;
}
.sub {
    display: none;
}
.sourcecode {
    background-color: #f7f9fa;
    border-color: #8cacbb;
    border-right: 1px dashed #8cacbb;
    border-style: dashed;
    border-width: 1px;
    clear: both;
    color: black;
    font-family: "Courier New",Courier,monospace;
    font-size: 9pt;
    margin: 10px;
    overflow: auto;
    padding: 0.5em;
    white-space: normal;
    word-break: keep-all;
    word-wrap: normal;
}
.companytitle {
    color: #ffffff;
    font-family: MSYH,Verdana;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
}
.tableheader {
    background-color: #e7f2f8;
    color: #333333;
    font-family: MSYH,Verdana;
    font-size: 12px;
}
.tableheader1 {
    background-color: #e7f2f8;
    color: #333333;
    font-family: MSYH,Verdana;
    font-size: 12px;
}
.forumheader {
    background-color: #e7f2f8;
    color: #333333;
}
.forumcategory {
    background-color: #dfe9f3;
    color: #333333;
}
.menustyle1 {
    border: 1px solid #ffffff;
}
.menustyle2 {
    border: 1px solid #ffffff;
}
.input1 {
    background: url("/img/pin_r2_c2.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-family: "MSYH,Verdana";
    height: 15px;
    padding: 2px;
    width: 124px;
}
.photo {
    border: 1px double #c8c8c8;
}
.poll {
    background-image: url("/img/poll.gif");
    border: 0 none;
    height: 18px;
    width: 48px;
}
.bottom {
    text-align: center;
}
.font_title {
    color: #333333;
    font-family: "MSYH,Verdana";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px;
    text-align: left;
}
.symbols {
    background-position: 0 50%;
    background-repeat: no-repeat;
    float: left;
    height: 1em;
    width: 12px;
}
.highlight {
    color: #333333;
    font-size: 14px;
}
.banner-left {
    background-image: url("/img/banner-left.jpg");
    background-position: left top;
    background-repeat: no-repeat;
}
.banner-right {
    background-image: url("/img/banner-right.jpg");
    background-position: right top;
    background-repeat: no-repeat;
}
.language {
    color: #c3e1f9;
    font-family: "Microsoft Yahei",Verdana;
    font-size: 12px;
    text-decoration: none;
}
.language-bold {
    color: #ffffff;
    font-family: "Microsoft Yahei",Verdana;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.menubit {
    background-color: #02305e;
}
.font01 {
    border-bottom: 1px solid #94b2be;
    color: #333333;
    font-family: MSYH,Verdana;
    font-size: 12px;
    font-weight: bolder;
    line-height: 26px;
    text-decoration: none;
    text-indent: 20px;
}
.font02 {
    color: #5c5c5c;
    font-family: MSYH,Verdana;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
}
.user-title {
    background-color: #e7f2f8;
    color: #333333;
    font-family: MSYH,Verdana;
    font-size: 12px;
    font-weight: bolder;
    padding-left: 11px;
    padding-top: 2px;
    text-decoration: none;
}
.user-menu {
    background-image: url("/images/user-dot001.gif");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 24px;
    padding-top: 2px;
}
.categoryimage {
    background-image: url("/img/barner.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    border: medium none;
    height: 94px;
    width: 705px;
}
#logo {
    position: absolute;
    z-index: 5;
}
.time01 {
    color: #777777;
    font-family: MSYH,Verdana;
    font-size: 11px;
    text-decoration: none;
}
.time02 {
    color: #9bacc4;
    font-family: MSYH,Verdana;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
.welcome {
    background-attachment: fixed;
    background-image: url("/img/welcome.gif");
    background-position: left top;
    background-repeat: no-repeat;
}
.table-right {
    border: medium none;
    color: #1a62a3;
    font-family: MSYH,Verdana;
}
.table-top {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e0e9f4;
    border-image: none;
    border-style: solid;
    border-width: 2px 0 0;
}
.photo-advanced {
    border: 2px double #f5fafe;
}
#mainContainer {
    margin: 0 auto;
    text-align: left;
    width: 100%;
}
.company-titlebg {
    background: url("/images/supply/title-bg.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #333333;
    font-family: MSYH,Verdana,Verdana;
    font-size: 12px;
    font-weight: bold;
    padding-left: 15px;
    text-decoration: none;
}
#dig {
    float: left;
    height: auto;
    text-align: left;
    width: auto;
}
td {
}
#ajaxloading {
    background: none repeat scroll 0 0 #dd0000;
    color: #ffffff;
    display: none;
    height: 1.6em;
    line-height: 1.6em;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    z-index: 100;
}
.template {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
h1.title {
    clear: both;
    color: #444444;
    float: left;
    font-family: msyh,Verdana;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0 0 2px;
    width: auto;
}
h1.title1 {
    color: #444444;
    float: left;
    font-family: msyh,Verdana;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0 0 2px;
    width: auto;
}
h4.title1 {
    color: #444444;
    float: right;
    font-family: msyh,Verdana;
    font-size: 12px;
    font-weight: normal;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0 0 2px;
    width: auto;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #b2b2b2 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: medium none;
    border-style: dashed none none;
    border-width: 1px medium medium;
    clear: both;
    height: 1px;
    line-height: 1px;
    margin-bottom: 5px !important;
    margin-top: 0 !important;
    vertical-align: top;
}
.portlecontent A:link {
    color: #2e951a;
    font-family: msyh,Verdana;
    font-size: 12px;
    line-height: 22px;
    text-decoration: underline;
}
.portlecontent A:visited {
    color: #2e951a;
    font-family: msyh,Verdana;
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
}
.portlecontent A:hover {
    color: #4d7cc1;
    font-family: msyh,Verdana;
    font-size: 12px;
    line-height: 22px;
    text-decoration: underline;
}
.portlecontent A:active {
    color: #2e951a;
    font-family: msyh,Verdana;
    font-size: 12px;
    line-height: 22px;
}
.leftbit A:link {
    color: #111111;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 22px;
    text-decoration: underline;
}
.leftbit A:visited {
    color: #111111;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 22px;
    text-decoration: none;
}
.leftbit A:hover {
    color: #0073bd;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 22px;
    text-decoration: underline;
}
.leftbit A:active {
    color: #111111;
    font-family: MSYH,Verdana;
    height: 23px;
    line-height: 22px;
}
.portlecontent td {
    font-family: msyh,Verdana;
    font-size: 12px;
    line-height: 22px;
}
#bodycontentContainer {
    background: none repeat scroll 0 0 #ffffff;
    clear: both;
    margin: 0 auto;
    width: 947px;
}
#portlet_config_content {
    background: none repeat scroll 0 0 #ffffff;
    min-height: 100px;
    text-align: left;
    width: 100%;
}
.DragContainer {
    float: left;
    height: auto;
    margin: 0;
    min-height: 120px;
    overflow: hidden;
    padding: 0;
    width: auto;
}
.DragContainer:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.jqDrag {
    cursor: move;
}
.portlet:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.portlet {
    border: medium none;
    float: none;
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
}
.portlecontent p {
    padding: 2px 8px;
}
.portlettitle {
    border-bottom: 1px solid #94b2be;
    overflow: hidden;
}
.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}
.news_list {
}
.soft_tab {
    background: url("/img/tab_bg.jpg") no-repeat scroll left -32px rgba(0, 0, 0, 0);
    float: left;
    width: 616px;
}
.soft_tab ul {
    float: left;
    height: 32px;
    line-height: 32px;
    list-style: none outside none;
    margin: 0 0 0 21px;
    padding: 0;
    width: 150px;
}
.soft_tab ul li {
    color: #ffffff;
    float: left;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 71px;
}
.title_on {
    background: url("/img/tab_bg.jpg") repeat scroll -21px top rgba(0, 0, 0, 0);
    color: #000000;
}
.line {
    background: url("/img/index_15.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    float: left;
    height: 231px;
    width: 21px;
}
.soft_version {
    float: left;
    height: auto;
    width: 298px;
}
.version_title {
    background: url("/img/title_left.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    float: left;
    height: 18px;
    line-height: 18px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-left: 9px;
}
.version_title span {
    background: url("/img/title_right.gif") no-repeat scroll right top rgba(0, 0, 0, 0);
    color: #ffffff;
    display: block;
    line-height: 19px;
    padding-right: 10px;
}
.tabcontent {
    float: left;
    height: auto;
    width: 616px;
}
.service {
    display: inline;
    float: left;
    height: auto;
    margin-left: 10px;
    width: 345px;
}
.servicecontent {
    float: left;
    height: auto;
    margin: 4px 0;
    width: 100%;
}
.service_list {
    height: auto;
    list-style: none outside none;
    margin: 6px 0 0;
    padding: 0;
    width: 200px;
}
.service_list li {
    height: 28px;
    line-height: 28px;
    text-indent: 46px;
}
.portlecontent {
    padding-right: 5px;
    padding-top: 5px;
}
ul.default {
    float: left;
    padding: 0;
    text-align: left;
}
ul.text {
    padding: 0;
    text-align: left;
}
ul.news {
    float: left;
    margin: 0 !important;
    padding: 0;
    text-align: left;
}
li {
    list-style-type: none;
    margin-left: 0 !important;
}
li.anli {
    float: left;
    height: 25px;
    list-style-image: url("/img/dot002.gif");
    margin-right: 12px;
}
ul.default li.title {
    height: 25px;
    list-style-image: url("/img/dot002.gif");
    padding: 0 0 0 4px !important;
}
ul li {
    list-style-type: none;
}
ul li.news {
    height: 25px;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0 !important;
}
ul li.news1 {
    height: 25px;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0 !important;
}
ul li.news2 {
    height: 25px;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0 !important;
    margin-top: -4px;
}
ul li.time {
    font-family: ˎ̥,Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0 !important;
}
ul li.left001 {
    height: 25px;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0 !important;
}
ul li.left002 {
    list-style-image: none;
    list-style-type: none;
    margin-left: 24px !important;
}
#map00 {
    position: absolute;
    z-index: 200;
}
#map01 {
    position: absolute;
    z-index: 201;
}
#map02 {
    position: absolute;
    z-index: 202;
}
#map03 {
    position: absolute;
    z-index: 203;
}
#map04 {
    position: absolute;
    z-index: 204;
}
#map05 {
    position: absolute;
    z-index: 205;
}
#map06 {
    position: absolute;
    z-index: 206;
}
.searchdiv {
    background-color: #e6f0fa;
    height: 22px !important;
    padding: 2px;
}
.searchfrom {
    border: 1px solid #0d4a93;
    color: #909993;
    height: 16px;
    margin-top: 2px !important;
    padding-left: 2px;
    width: 200px;
}
.box {
    border: 1px solid #0d4a93;
    clip: rect(0px, 96px, 18px, 0px);
    height: 19px;
    overflow: hidden;
    width: 97px;
}
.box2 {
    border: 1px solid #f4f4f4;
    clip: rect(0px, 94px, 16px, 0px);
    height: 17px;
    overflow: hidden;
    width: 95px;
}
.server {
    background-color: #f6faff;
    background-image: url("/img/submit1.gif");
    float: left;
    height: 30px;
    margin-right: 5px;
    text-align: center;
    width: 93px;
}
.server A:link {
    color: #ffffff;
    display: block;
    font-family: MSYH,Verdana,Tahoma,Arial;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    margin-top: 3px;
    text-decoration: none;
    vertical-align: middle;
}
.server A:visited {
    color: #ffffff;
    display: block;
    font-family: MSYH,Verdana,Tahoma,Arial;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    margin-top: 3px;
    text-decoration: none;
    vertical-align: middle;
}
.server A:hover {
    color: #ffffff;
    display: block;
    font-family: MSYH,Verdana,Tahoma,Arial;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    margin-top: 3px;
    text-decoration: none;
    vertical-align: middle;
}
.server A:active {
    color: #ffffff;
    display: block;
    font-family: MSYH,Verdana,Tahoma,Arial;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    margin-top: 3px;
    vertical-align: middle;
}
.server1 {
    background-color: #f6faff;
    background-image: url("/img/submit.gif");
    float: left;
    height: 30px;
    margin-right: 5px;
    text-align: center;
    width: 93px;
}
.server1 A:link {
    color: #ffffff;
    display: block;
    font-family: MSYH,Verdana,Tahoma,Arial;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    margin-top: 3px;
    text-decoration: none;
    vertical-align: middle;
}
.server1 A:visited {
    color: #ffffff;
    display: block;
    font-family: MSYH,Verdana,Tahoma,Arial;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    margin-top: 3px;
    text-decoration: none;
    vertical-align: middle;
}
.server1 A:hover {
    color: #ffffff;
    display: block;
    font-family: MSYH,Verdana,Tahoma,Arial;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    margin-top: 3px;
    text-decoration: none;
    vertical-align: middle;
}
.server1 A:active {
    color: #ffffff;
    display: block;
    font-family: MSYH,Verdana,Tahoma,Arial;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    margin-top: 3px;
    vertical-align: middle;
}
.portletcontent p {
    padding: 10px;
}
.pagenumstatic {
    background-color: #ffffff;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    margin: 0;
    padding: 1px 3px;
    text-decoration: none;
    width: 1em;
}
.pagenum A:link, .pagenum A:visited, .pagenum A:active {
    border-color: #94b2be;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    margin: 0;
    padding: 1px 3px;
    text-decoration: none;
    width: 1em;
}
.pagenum A:hover {
    background-color: #ffffff;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    margin: 0;
    padding: 1px 3px;
    text-decoration: none;
    width: 1em;
}
.tableheader {
    background-color: #f9f8f8;
    color: #333333;
    font-family: Verdana;
    font-size: 12px;
}
.tableheader1 {
    background-color: #f9f8f8;
    color: #333333;
    font-family: Verdana;
    font-size: 12px;
}
.forumheader {
    background-color: #f9f8f8;
    color: #333333;
}
.forumcategory {
    background-image: url("images/forums/td001.jpg");
    color: #333333;
}
.forumcategory1 {
    background-image: url("images/forums/td002.jpg");
    color: #333333;
}
.table02 {
    background-color: #f5fafe;
    border: 1px solid #ffffff;
}
.table-bold1 {
    color: #006699;
    font-family: Microsoft Yahei,Verdana;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.table-bold2 {
    color: #ffffff;
    font-family: Microsoft Yahei,Verdana;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.table-right {
    border-right: 1px solid #e0e9f4;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    color: #1a62a3;
    font-family: Microsoft Yahei,Verdana;
}
